body{
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}
.navbar{
  padding: 1px;
  background-color: lightgray;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  margin: 0;
}
.navbut{
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  font-size: 20px;
}
.navbut::after{
  content: "";
  background-color: #7e7e7e;
  height: 3px;
  width: 100%;
  display: block;
  border-radius: 3px;
  transform: scale(0);
  transition: .3s;
}
.navbut:hover::after{
  transform: scale(1);
}
.navbut:hover{

}
